/***************************
Button Modules
***************************/
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.btn-primary {
  background: #8DC63F;
  border-color: #8DC63F;
  color: white;
  padding: 10px 15px;
  max-height: 40px;
  border-radius: 4px;
  font-family: Arial;
  font-size: 1.125em;
  transition: all 0.5s ease 0
}
.btn-primary:hover {
  background: none;
  border-color: white;
  text-decoration: none;
}
.media .btn-primary {
  margin-top: 40px;
}
.btn-nav {
  color: white;
}
.btn-hero {
  padding: 15px 30px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font: Arial;
  font-size: 1.75em;
  transition: all 0.5s ease 0;
}
.btn-hero:hover {
  background-color: #fff;
  color: #39b54a;
}